{
    outline: 1px solid rgba(77,255,133,1);
}
header{
		background-color: white;
		position: relative;
		width: 100%;
	}

.fa-search{
    margin-left: -25px;
}
.search-box input{
    padding: 5px;
   
}
.estrenos img{
   
     padding: 25px 0 25px 0;
     height: 250px;
}
.cartelera img{
    width: 100%;
}
.hero .container{
    
    width:1200px;
    padding-left: 130px;
    
}
.hero .banner{
    background: #333 url(../img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    height: 450px;
    	
}

.ico{
	width: 70px;
	height: 70px;
	position: relative;
	top:205px;
	left: 268px;

}

.fa fa-search{
  color: blackc;
    
}
.col-4 .search-box{
    padding:7px 10px;
}
header .col-8 span{
    font-size: 18px;
    color: grey;
    font-family: cursive;
   margin: 30px;
    
}

.hero .col-4 h1,table,p, h4 {
    color: darkgrey;
    font-size: 13px;
}
.hero .col-4 h1{
    font-size: 40px
}
.hero .col-4 p {
    color: darkgrey;
    font-size: 17px;
}
.hero .col-4 #age{
    
    padding: 4px;
    border:solid 2px green;
    border-radius: 10px;
    color: green;
    margin-right: 10px;
}
.hero .container .col-4 hr{
    width: 250px;
    margin: 20px;
    border: 1px solid gray;

}
.hero .container .col-4 input,buttom {
    color: aliceblue;
    background-color: darkorange;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;    
    border-radius: 8px;
    width: 150px;
    border-color: darkorange;
}
.hero .container .col-4 #boton {
    color: aliceblue;
    background-color: darkorange;
     font-size: 18px;
    padding: 10px;
    margin-top: 20px;    
    border-radius: 8px;
    width: 150px;
    border-color: darkorange;
}
.hero .container .col-4 a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
    padding: 20px;
    margin-top: 20px;    
    border-radius: 10px;
    width: 300px;
   
}

 button  {
	border-radius: 10%;
	color: white;
	width: 180px;
	height: 30px;
	margin-left: -30px;
	margin-top: :10px; 
	margin-bottom: 10px;
	background: darkorange;
	font-size: 15px;
	text-transform: uppercase;
     border-color: darkorange;
}
.hero .fa {
	color: white;
	position: relative;
}


.hero .container .col-4 table{
     color: #c9c6b8;
    text-align: left;
   

    
    
}
.hero .container .col-4 table th{
     color: #c9c6b8;
    text-align: left;
    padding-right: 25px;
    
}
.hero .container .col-4 table td{
     color: #c9c6b8;
    text-align: left;
    padding-right: 40px;
    
}

.estrenos .container{
     background-color: GoldenRod;
    width:1200px;
    
    
    
}
.estrenos .container .row .col-2 img{
        position: relative;
        
        background-color: GoldenRod ;
        margin: 0 150px;
        padding: 40px 0px;
        right: 0px;
    
}

.estrenos .container .row {
       
        background: GoldenRod ; 
    padding-right: 100px;
    padding: 0px;
}


section.estrenos .container_strenos{
    
    width: 100%;
    background: gold;   
}
section.estrenos .col-2 img{
    margin: 0 0px;
    padding: 50px 0;}
    margin-right: 10px;




/*----------------------ticket*/

.contenido{
    width: 100%; 
    margin-top: 80px;
}
.container-ticket{
    margin: 0 70px;
    
}
.contenido .left h2{
    font-size: 60px;
    padding-bottom: 20px;    
}
.contenido .left h4{
    font-size: 30px;
    color: gray;
    padding-bottom: 20px;
}
.contenido .left a{
    display: inline-block;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    padding: 18px;
    margin-bottom: 20px;    
    border-radius: 10px;
    width: 300px;
    background: DarkGoldenRod;
    text-align: center;
}
.contenido .left p{
    color: DarkGoldenRod;
}
.contenido .right h3{
    font-size: 30px;
    color: gray;
    padding-bottom: 20px;
   
}
h6{
    width: bold;
    font-size: 20px;
}
hr{
    margin: 40px 0;
}
.contenido .right a{
    text-decoration: none;
    color: brown;
    font-size: 22px;
    
}







/*----------------------trailer*/
.trailer{
    width: 100%;  
    
}
.trailer iframe{
    width: 100%;
    height: 400px;
   
} 
/*----------------------cartelera*/
.cartelera  {
    width: 100%;  
}
.cartelera .container{
    width: 100%;    
}
.cartelera .container{
    margin: 0 70px;
}






/*----------------------footer*/
footer{
    width: 100%;
    background: #eee;
    color: gray;
    font-size: 20px;
}
footer .container{
    margin: 0 70px;
    padding: 40px 0;
}
.container_footer h4{
    padding-top: 40px;
}
/*--------------------footer*/

